.forms{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.form-container form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    padding: 30px;
   /* border: 2px solid black; */
   box-shadow: 0 0px 10px 0 rgb(0 0 0 / 50%);
   border-radius: 20px;
   transition: 0.5s;
   max-width: 300px;
   min-width: 250px;
}

.form-container form:hover{
    box-shadow: 0 -5px 10px 0 rgb(0 0 0 / 50%);
}



.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    
}

.credential-form input,button{
    width: 100% !important;
}